<div class="center-header"><%= @nickname %>さんの投稿一覧</div>
<div class="post-space">
  <% @posts.each do |post| %>
    <div class="posts">
      <p>トレーニング名: <%= post.name %></p>
      <p>説明: <%= post.description %></p>
      <div class="video-space">
        <p>
          <%= video_tag post.video.to_s, loop: true, controls: true, :playsinline => 'true', class: "video embed-responsive-post" %>
        </p>
      </div>
      <%= link_to '', post_path(post.id), method: :get %>
    </div>
  <% end %>
</div>
