<div class="center-contents">
  <div class="center-header"><%= @nickname %>さんの投稿一覧</div>
  <div class="post-space">
    <% @posts.each do |post| %>
      <div class="posts">
        <p>トレーニング名: <%= post.name %></p>
        <p>説明: <%= post.description %></p>
        <div class="video-space">
          <p>
            <%= video_tag post.video.to_s, loop: true, controls: true, :playsinline => 'true', class: "video embed-responsive-post" %>
          </p>
        </div>
        <%= link_to '', post_path(post.id), method: :get %>
      </div>
    <% end %>
  </div>
</div>
<div class="right-bar">
  <div class="right-header">
    <h2>Q&A</h2>
  </div>
  <div class="messages">
    <div class="message">
      <div class="message-user">nickname</div>
      <div class="message-content">aaaaaa</div>
    </div>
  </div>
  <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "メッセージ">
    </div>
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>
