<hr>
<div class="posts">
  <%= link_to '', post_path(post.id), method: :get %>
  <div class="weight-bold-text-index">
    <%= post.user.nickname %>
  </div>
  <p class="training-name">トレーニング名: <%= post.name %></p>
</div>
<div class="like-btn-space">
  <% if current_user.liked_by?(post.id) %>
    <p>
      <%= link_to 'いいね!済', destroy_like_path(post), class: "unlike-btn", method: :DELETE, remote: true %>
      <%= post.likes.count %>件
    </p>
  <% else %>
    <p>
      <%= link_to 'いいね!', create_like_path(post), class: "like-btn", method: :POST, remote: true %>
      <%= post.likes.count %>件
    </p>
  <% end %>
</div>
<div class="video">
  <p>
    <%= video_tag post.video.to_s, loop: true, controls: true, :playsinline => 'true', class: "video embed-responsive-post" %>
  </p>
</div>

