<div class="posts">
  <%= link_to '', post_path(post.id), method: :get %>
  <div class="weight-bold-text-index">
    <%= post.user.nickname %>
  </div>
  <div class="training-name">トレーニング名: <%= post.name %></div>
</div>
<div class="like-btn-space">
  <% if current_user.liked_by?(post.id) %>
    <%= link_to 'いいね!済', destroy_like_path(post), class: "unlike-btn", method: :DELETE, remote: true %>
  <% else %>
    <%= link_to 'いいね!', create_like_path(post), class: "like-btn", method: :POST, remote: true %>
  <% end %>
  <%= post.likes.count %>件
</div>
<div class="video">
  <%= video_tag post.video.to_s, loop: true, controls: true, :playsinline => 'true', class: "video embed-responsive-post" %>
</div>
<hr>
