<div class="post-space">
  <div class="post-create">
    <%= form_with(model: @post, local: true) do |form| %>
      <h2>記録する</h2>
      <%= form.text_field :name, placeholder:"トレーニング名" %>
      <%= form.text_area :description, placeholder:"説明" %>
      <%= form.text_field :video, placeholder:"動画" %>
      <%= form.submit "記録" %>
    <% end %>
  </div>
</div>
