<div class="center-header">投稿する</div>
<div class="post-create">
  <%= form_with(model: @post, local: true) do |form| %>
    <p><%= form.text_field :name, placeholder:"トレーニング名" %></p>
    <p><%= form.text_area :description, placeholder:"説明" %></p>
    <p>
      <%= form.label :video %>
      <%= form.file_field :video, :accept => 'video/*' %>
    </p>
    <p><%= form.submit "記録" %></p>
  <% end %>
</div>
