<header>
  <div class="header-inner">
    <div class="toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="mask"></div>
    <div class="header-inner-title">投稿する</div>
    <%= link_to image_tag("kinkomilogo2.png", class:"top-page"), "/" %>
  </div>
</header>
<div class="center-contents-new">
  <div class="post-create">
    <%= form_with model: @post, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="weight-bold-text">
        トレーニング名/食事名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :name, class:"posts-text", placeholder:"トレーニング名/食事名", maxlength:"20" %>
      <div class="weight-bold-text">
        トレーニング説明/食事名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :description, class:"posts-text", placeholder:"トレーニング説明/食事説明", rows: "5", maxlength:"140" %>
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      <div class="weight-bold-text">
        投稿する動画
        <span class="indispensable">必須</span>
      </div>
      <%= f.label :video %>
      <%= f.file_field :video, :accept => 'video/*, image/*' %>
      <div class="post-btn-contents">
        <%= f.submit "投稿", class:"post-btn" %>
      </div>
    <% end %>
  </div>
</div>
