<div class="center-header">
  <a href="/users/<%= @post.user.id %>">
    <p><%= @post.user.nickname %>さん</p>
  </a>
</div>
<div class="post-space">
  <div class="posts">
    <p>トレーニング名: <%= @post.name %></p>
    <p>説明: <%= @post.description %></p>
    <%#ここに動画が入る？%>
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more">
      <div class="edit-btn">
        <%= link_to '編集', edit_post_path(@post.id), method: :get %>
      </div>
      <div class="delete-btn">
        <%= link_to '削除', post_path(@post.id), method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="comment-form">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメント", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>ログイン/サインアップ</p></strong>
    <% end %>
    <div class="comments">
      <h4>コメント一覧</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/uesrs/#{comment.user_id}" %>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
