<div class="center-contents-show">
  <header>
    <div class="header-inner">
      <div>
        <a href="/users/<%= @post.user.id %>">
          <%= @post.user.nickname %>さんの
        </a>
        <%= @post.name %>
      </div>
      <%= link_to '筋コミ', '/', class: 'top-page' %>
    </div>
  </header>
  <div class="post-space-show">
    <div class="posts-show">
      <div class="video-space">
        <p>
          <%= video_tag @post.video.to_s, loop: true, controls: true, :playsinline => 'true', class: "video embed-responsive-post" %>
        </p>
      </div>
      <div class="weight-bold-text">
        トレーニング名:
      </div>
      <%= @post.name %>
      <div class="weight-bold-text">
        説明:
      </div>
      <%= @post.description %>
      <div class="weight-bold-text">
        カテゴリー:
      </div>
      <%= @post.category.name %>
    </div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more-show">
          <%= link_to '編集', edit_post_path(@post.id), class:"edit-btn", method: :get %>
          <%= link_to '削除', post_path(@post.id), class:"delete-btn", method: :delete %>
      </div>
    <% end %>
    <div class="weight-bold-text">
      コメント:
    </div>
    <div class="messages">
      <div class="message">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/uesrs/#{comment.user_id}" %>:</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= form_with(model: [@post, @comment], local: true) do |form| %>
      <div class="form">
        <div class="form-input">
          <div class="form-message">
            <%= form.text_field :text, placeholder: "コメント", rows: "2" %>
          </div>
        </div>
        <div class="form-submit">
          <%= form.submit "送信" %>
        </div>
      </div>
    <% end %>
  </div>
</div> 


