<!DOCTYPE html>
<html>
  <head>
    <title>筋コミ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div id="navArea">
        <nav>
          <div class="inner">
            <% if user_signed_in? %>
              <ul>
                <li>
                  <%= link_to "/users/#{current_user.id}", method: :GET do %>
                    <%= current_user.nickname %>
                  <% end %>
                </li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to '投稿する', '/posts/new', class: 'post', method: :GET %></li>
                <li><%= link_to '# 胸の日', chest_path, class: 'menu' %></li>
                <li><%= link_to '# 背中の日', back_path, class: 'menu' %></li>
                <li><%= link_to '# 肩の日', shoulder_path, class: 'menu' %></li>
                <li><%= link_to '# 腕の日', arm_path, class: 'menu' %></li>
                <li><%= link_to '# 脚の日', leg_path, class: 'menu' %></li>
                <li><%= link_to '# 腹筋の日', abs_path, class: 'menu' %></li>
                <li><%= link_to '# いいね!した投稿', likes_users_path, class: 'menu' %></li>
              </ul>
            <% else %>
              <ul>
                <li><%= link_to 'ログイン', new_user_session_path, class: 'post' %></li>
                <li><%= link_to 'サインアップ', new_user_registration_path, class: 'post' %></li>
              </ul>
            <% end %>
          </div>
        </nav>
        <div class="toggle_btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div id="mask"></div>
      </div>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
