<!DOCTYPE html>
<html>
  <head>
    <title>KinKomi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div class="left-bar">
        <div class="left-header">
          <%= link_to '筋コミ', '/' %>
          <p>初心者のための筋トレコミュニティ</p>
        </div>
        <% if user_signed_in? %>
          <div class="user-nickname">
            <span id="user-lists"><%= current_user.nickname %></span>
          </div>
          <div class="post-new">
            <%= link_to '投稿する', '/posts/new', class: 'post' %>
          </div>
          <ul class="user-info hidden" id="user-pull-down">
            <li><%= link_to 'マイページ', "/users/#{current_user.id}" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <div class="login-bar">
            <h2>
              <%= link_to 'ログイン', new_user_session_path, class: 'post' %>
            </h2>
          </div>
          <div class="user-new">
            <h2>
              <%= link_to 'サインアップ', new_user_registration_path, class: 'post' %>
            </h2>
          </div>
        <% end %>
        <div class="menu-day">
          <p><a href="#">#胸の日</a></p>
          <p><a href="#">#背中の日</a></p>
          <p><a href="#">#肩の日</a></p>
          <p><a href="#">#胸の日</a></p>
          <p><a href="#">#脚の日</a></p>
          <p><a href="#">#腹筋の日</a></p>
          <p><a href="#">#食事メニュー</a></p>
        </div>
      </div>
      <div class="center-contents">

        <%= yield %>
        
      </div>
      <div class="right-bar">
        <div class="right-header">
          <h2>Q&A</h2>
        </div>
        <div class="messages">
          <div class="message">
            <div class="message-user">nickname</div>
            <div class="message-content">aaaaaa</div>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="form">
            <div class="form-input">
              <input class="form-message" placeholder= "メッセージ">
            </div>
            <input class="form-submit" type="submit" value="送信">
          </div>
        <% else %>
          <div class="form">
            <div class="form-input">
              <input class="form-message" placeholder= "ログイン/サインアップ">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>